
{% extends "newbase.html" %}

{% block content %}

<h1>Login</h1>
  <form method="post">
    <table>
      <tr>
        <td><label for="username">Username</label></td>
        <td>
          <input name="username" type="text" value="">
          <span class="error">{{username_error}}</span>
        </td>
        </tr>
      <tr>
        <td><label for="password">Password</label></td>
        <td>
          <input name="password" type="password">
          <span class="error">{{password_error}}</span>
        </td>

        {% with messages = get_flashed_messages(with_categories=True) %}
        
        {% for category,message in messages %}
            <p class="error">{{ message }}</p>
        {% endfor %}

    {% endwith %}
    </table>
    <input type="submit" value="Login">
</form>

<p>Need to Signup? <a href="/signup">Make a New Account</a></p>

{% endblock %}
