<!doctype html>
<html>
    <head>
        <title>Blogs</title>
        <style type="text/css">
            .error {
                color: rgb(255, 121, 11);
                font-size: 26px;
                
            }
        </style>
    </head>

<body>
    <a href='/' name='index'>Home</a>
    <a href='/blog' name='blog'>All Blogs</a>
    <a href='/newpost' name='newpost'>Make a Blog</a> &nbsp;
    <a href='/login' name='login'>Login</a>
    <a href='/logout' name='logout'>Logout</a>


{% block content %}
    
{% endblock %}

</body>
</html>

