<!doctype html>
<html>
    <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
        <title>Good Musics</title>
        <hr />
        <style type="text/css">
            .error {
                color: rgb(255, 121, 11);
                font-size: 26px;
                
            }
        </style>
    </head>

<body>
    <a href='/' name='index'>Home</a> &nbsp; &nbsp;
    <a href='/music' name='music'>All Albums</a> &nbsp; &nbsp;
    <a href='/newpost' name='newpost'>Add an Album</a> &nbsp; &nbsp;
    <a href='/login' name='login'>Login</a> &nbsp; &nbsp;
    <a href='/logout' name='logout'>Logout</a>


{% block content %}
    
{% endblock %}

</body>
<hr />
</html>

