{% extends 'newnewbase.html' %}
{% block content %}
<style>
    .bg-1 {
        background: #2d2d30;
        color: #bdbdbd;
    }
    .bg-1 h3 {color: #fff;}
    .bg-1 p {font-style: italic;}
    </style>
<h1>Add an Album</h1>
<hr />
<div class="bg-1">
    <div class="container">
<form action ='/newpost' method = 'post'>
    <hr />
    <table>
        <tr>
            <td>
            <label>
                Album title:</br>
                <input type="text" name='title' value='{{title}}'/>
                <p class="error">{{title_error}}</p>
            </label>
            </td>
        </tr>
        <tr>
            <td>
            <label>
                Album artist:</br>
                <input type="text" name='artist' value='{{artist}}'/>
                <p class="error">{{title_error}}</p>
            </label>
            </td>
        </tr>
        <tr>
            <td>
            <label>
                Add album image:</br>
                </br>
                <form action="/action_page.php">
                Album image link: <input type="text" name="cover" value='{{cover}}'><br>
                </form> 
                <p class="error">{{cover_error}}</p>
            </label>
            </td>
        </tr>
        <tr>
            <td>
            <label>
                Rating:</br>
                <input type="text" name='rating' id="rating1" value='{{rating}}'/>
                <p class="error">{{rating_error}}</p>
            </label>
            </td>
        </tr>
        <tr>
            <td>
            <label>
                <fieldset>           
                <div>
                <label for="date">Date listened to:</label>
                <input type="date" name="date" value='{{date}}'                             
                min="2018-01-01" max="2018-12-31" />
                </div>
                <p class="error">{{date_error}}</p>
            </label>
            </td>
        </tr>
        <tr>
            <td>    
            </br>
            <input class="buttontext" type="submit" value='Finish' />
            </td>
        </tr>
        </table> 
</form>

{% endblock %}
