{% extends 'newbase.html' %}
{% block content %}
<h1>Make a new blog</h1>
<form action ='/newpost' method = 'post'>
    <table>
        <tr>
            <td>
            <label>
                Blog title:</br>
                <input type="text" name='title' value='{{title}}'/>
                <p class="error">{{title_error}}</p>
            </label>
            </td>
            <tr>
                <td>
                <label>
                Write your blog:</br>
                <textarea name="body" rows="12" cols="75" value='{{body}}'></textarea>
                <p class="error">{{body_error}}</p>
                </label>
               </td>
            </tr>
           <tr>
               <td>
                    <input type="submit" value='Finish' />
               </td>
           </tr>
        </table> 
</form>

{% endblock %}