{% extends 'newnewbase.html' %}

{% block content %}
<style>
    .bg-2 {
        background: #2d2d30;
        color: #bdbdbd;
    }
    .bg-2 h3 {color: #fff;}
    .bg-2 p {font-style: italic;}
    </style>
<h1>Make an Account</h1>
<hr />
<div class="bg-2">
    <div class="container">


  <form action='/signup' method="post">
    <br>
    <table>
      <tr>
        <td><label for="username">Username</label></td>
        <td>
          <input name="username" type="text" value="{{username}}">
          <span class="error">{{username_error}}</span>
        </td>
      </tr>
      <tr>
        <td><label for="password">Password</label></td>
        <td>
          <input name="password" type="password">
          <span class="error">{{password_error}}</span>
        </td>
      </tr>
      <tr>
        <td><label for="verify">Re-enter Password</label></td>
        <td>
          <input name="verify" type="password">
          <span class="error">{{verify_error}}</span>
        </td>
      </tr>
    </table>
    <input class="buttontext" type="submit" value="Create account">
  </form>
  
{% endblock %}